* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header, nav, figure, footer {
    margin-top: 30px;
}

header:first-child {
    height: 80px;
}

.top-content img {
    height: 100%;
    padding-right: 25px;
    border-right: 1px solid lightgrey;
}

nav {
    height: 40px;
}

nav>ul {
    list-style: none;
}

nav li {
    display: inline-block;
    font-size: 18px;
    color: #bcbcbc;
    padding-right: 20px;
    line-height: 40px;
}

figure {
    height: 500px;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center; 
    border-radius: 15px;
}

.figure-text {
    height: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 320px 0 0 50px;
}

.figure-text>.title {
    width: 52%;
    font-size: 30px;
    font-weight: 500;
}

.figure-text>.description {
    width: 52%;
}

main>header {
    background-color: yellow;
}

.floating-content {
    padding-top: 25px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.left, .right {
    width: 25%;
}

.left {
    padding-right: 10px;
}

.right {
    padding-left: 10px;
}

.center {
    width: 50%;
    padding: 0 10px 0 10px;
}

.left-content, .center-content, .right-content {
    height: 400px;
}

.left-content, .right-content {
    background-color: greenyellow;
}

.center-content {
    background-color: green;
}

footer {
    height: 50px;
    background-color: goldenrod;
    margin-bottom: 30px;
}
