/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* website font */
body {
    font-family: 'Montserrat', sans-serif;
}

/* container size */
.container {
    max-width: 1200px;
    margin: auto;
}

/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* created the same top margin for some sections */
nav, figure, footer {
    margin-top: 30px;
}

.top-content header {
    height: 80px;
    margin-top: 5px;
}

.top-content img {
    height: 100%;
    padding-right: 25px;
    border-right: 1px solid lightgrey;
}

nav {
    height: 40px;
}

/* removed the dots from unordered list */
nav>ul {
    list-style: none;
}

nav li {
    display: inline-block;
    font-size: 18px;
    color: #bcbcbc;
    padding-right: 20px;
    line-height: 40px;
}

/* central image set as backround and son-div used for the text and the opacity */
figure {
    height: 500px;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center; 
    border-radius: 15px;
}

.figure-text {
    height: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 320px 0 0 50px;
}

.figure-text>.title {
    width: 52%;
    font-size: 30px;
    font-weight: 500;
}

.figure-text>.description {
    width: 52%;
}

main {
    margin-top: 45px;
}

/* font family for central title */
header>h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 38px;
}

header>div:last-child {
    color: #bcbcbc;
}

/* dimension and padding of the floating elements */
.floating-content {
    padding-top: 30px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.left, .right {
    width: 20%;
}

.left {
    padding-right: 10px;
}

.right {
    padding-left: 10px;
}

.center {
    width: 60%;
    padding: 0 10px 0 10px;
}

/* images for the three columns */
.left-image, .center-image, .right-image {
    height: 230px;
    background-position: center;
    background-size: cover;
}

.left-image {
    background-image: url('../img/img-1.jpg');
}

.right-image {
    background-image: url('../img/img-3.jpg');
}

.center-image {
    background-image: url('../img/banner-2.jpg');
}

/* used this empty div just to create an overlay on the three images */
.layer {
    border-radius: 15px;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3);
}

section>h4 {
    padding-top: 15px;
}

.floating-text {
    padding-top: 10px;
}

/* footer characteristic */
footer {
    text-align: center;
    margin-bottom: 30px;
}

.footer-first-part::after {
    content: ' \2764 ';
    color: red;
    font-size: 20px;
}